name: Deploy dist
on: [push,workflow_dispatch]
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: set up Node.js
              uses: actions/setup-node@v4
              with:
                node-version: 20
            - name: print  node version
              run: node -v

            - name: Install dependencies
              run: npm ci
            - name: run tests
              run: npm test